aloe==0.1.14
blessings==1.6
certifi==2017.7.27.1
chardet==3.0.4
extras==1.0.0
fixtures==3.0.0
future==0.16.0
fuzzywuzzy==0.15.1
gherkin-official==4.1.3
idna==2.5
linecache2==1.0.0
mock==2.0.0
nose==1.3.7
pbr==3.1.1
python-mimeparse==1.6.0
python-subunit==1.2.0
repoze.lru==0.6
requests==2.18.2
six==1.10.0
sure==1.4.6
testtools==2.3.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.24.2
